@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Poiret+One&display=swap');

$backgroundColor: teal;
$fontColor: cornsilk;
$titleFont: 'Orbitron';
$bodyFont: 'Poiret One';
$timerDiameter: 270px;
  
body {
    background: $backgroundColor;
    color: $fontColor;
    font-family: $bodyFont;
}

#title {
  font-family: $titleFont;
}

.up-down-icon {
  color: $fontColor;
}

#timer-display {
  width: $timerDiameter; 
  height: $timerDiameter;
}